[MASTER]
jobs = 0
persistent = no

[MESSAGES CONTROL]
enable=
	apply-builtin,
	backtick,
	bad-python3-import,
	basestring-builtin,
	buffer-builtin,
	cmp-builtin,
	cmp-method,
	coerce-builtin,
	coerce-method,
	comprehension-escape,
	delslice-method,
	deprecated-itertools-function,
	deprecated-operator-function,
	deprecated-pragma,
	deprecated-string-function,
	deprecated-str-translate-call,
	deprecated-sys-function,
	deprecated-types-field,
	deprecated-urllib-function,
	dict-items-not-iterating,
	dict-iter-method,
	dict-keys-not-iterating,
	dict-values-not-iterating,
	dict-view-method,
	div-method,
	exception-escape,
	exception-message-attribute,
	execfile-builtin,
	file-builtin,
	filter-builtin-not-iterating,
	getslice-method,
	hex-method,
	idiv-method,
	indexing-exception,
	intern-builtin,
	invalid-str-codec,
	long-builtin,
	map-builtin-not-iterating,
	metaclass-assignment,
	next-method-called,
	next-method-defined,
	nonzero-method,
	oct-method,
	old-raise-syntax,
	parameter-unpacking,
	print-statement,
	raising-string,
	range-builtin-not-iterating,
	raw_input-builtin,
	rdiv-method,
	reduce-builtin,
	reload-builtin,
	setslice-method,
	standarderror-builtin,
	sys-max-int,
	unichr-builtin,
	unicode-builtin,
	unpacking-in-except,
	useless-suppression,
	use-symbolic-message-instead,
	using-cmp-argument,
	xrange-builtin,
	xreadlines-attribute,
	zip-builtin-not-iterating,

disable=
	line-too-long,
	no-else-raise,
	no-else-return,
	too-few-public-methods,
	too-many-branches,
	too-many-instance-attributes,
	too-many-nested-blocks,
	too-many-statements,
